*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
}

.form {
    opacity: 0.7;
    padding: 3em;
    margin-top: 5px;
    margin-left: 25px;
    background: #fff;
    border-radius: 8px;
    border: #ccc 0.5px solid;
}

.fields input, textarea{
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    list-style-type: none;
    border: 0.5px solid;
    width: 300px;
}

.fields textarea{
    height: 250px;
}

.fields #submit {
    background: skyblue;
}

iframe {
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 35px;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
    color: #555;
}

.grid-item ul a{
    text-decoration: none;
    padding: 25px;
    margin: 25px;
}