*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
}

html{
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    margin-bottom: 50px;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    padding: 50px;
}

.grid-item  {
    margin-bottom: 10px;
}

.grid-item .nav a{
    padding: 10px;
    color: firebrick;
    text-decoration: none;
}
h1{
    font-size: 32px;
    font-family: 'Dancing Script', cursive;
    color: rgb(43, 53, 53);
    text-align: center;
    margin-bottom: 10px;
}
hr{
    margin-bottom: 50px;
}
p{
    margin-bottom: 50px;
}

.projects {
    width: 1020px;
    display: flex;
    flex-wrap: wrap;
}

.project__images {
    object-fit: contain;
    width: 300px;
    border-radius: 15px;
}
.projects__box {
    -webkit-box-shadow: -1px 0px 29px -4px rgba(219,215,219,1);
    -moz-box-shadow: -1px 0px 29px -4px rgba(219,215,219,1);
     box-shadow: -1px 0px 29px -4px rgba(219,215,219,1);
     margin-right: 20px;
}

.net:hover, .thot:hover, .meet:hover, .filt:hover, .clk:hover, .gtl:hover, .weath:hover, .insta:hover {
    width: 350px;
    border-radius: 20px;
    object-fit: contain;
    transition: ease-in-out;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .project__images {
        object-fit: contain;
        border-radius: 8px;
        margin: 0px;
    }
    .projects__box {
        -webkit-box-shadow: -1px 0px 29px -4px rgba(219,215,219,1);
        -moz-box-shadow: -1px 0px 29px -4px rgba(219,215,219,1);
         box-shadow: -1px 0px 2px -4px rgba(219,215,219,1);
         margin-right: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .project__images {
        object-fit: contain;
        border-radius: 8px;
    }

    .projects__box {
        -webkit-box-shadow: -1px 0px 29px -4px rgba(219,215,219,1);
        -moz-box-shadow: -1px 0px 29px -4px rgba(219,215,219,1);
         box-shadow: -1px 0px 2px -4px rgba(219,215,219,1);
         margin-right: 20px;
    }
}