*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: normal 16px Arial, Helvetica, sans-serif;
    color: #333;
}


.grid-container {
    display: flex;
    top: 100px;
    left: 50px;
    opacity: 0.9;
    background: #fff;
    position: absolute;
    border-radius: 25px;
    flex-direction: column;
    border: #ccc 2px solid;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

#logo {
    margin: 5px auto;
    font: 2em sans-serif;
}
.grid-item1 {
    display: flex;
    padding: 5px;
}
.grid-item1 div {
    margin-right: 5px;
}

.grid-item2 {
    display: flex;
}

.grid-item2 ul{
    display: flex;
    padding: 5px;
    list-style-type: none;
}

.grid-item2 ul a{
    display: flex;
    padding: 25px;
    text-decoration: none;
}

.grid-item3 {
    display: flex;
    margin-bottom: 10px;
}
.grid-item3 img {
    margin: 10px auto;
}

.grid-item4 {
    display: flex;
    font-size: 5px;
    margin-bottom: 10px;
}

.grid-item4 ul a{
    padding: 25px;
    font-size: 25px;
}

.grid-item5 {
    display: flex;
    padding: 15px;
}
.grid-item5 .heart {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 15px; 
    color:hotpink;
}

#particles-js {
    background-color: lightskyblue;
    height: 100%;
}
@media only screen and (max-width: 320px) {
    /* For mobile phones: */
    [class*="grid-container"] {
        width: 80%;
        height: 80%;
      }
.grid-item2 {
    display: flex;
}

.grid-item2 ul{
    display: flex;
    padding: 5px;
    list-style-type: none;
}

.grid-item2 ul a{
    display: flex;
    padding: 25px;
    text-decoration: none;
}
      .grid-item2 ul a{
          margin: 2px auto;
          padding: 8px;
          text-decoration: none;
      }
      .grid-item4 ul a{
          margin: 3px auto;
          padding: 5px;
          font-size: 25px;
      }
  }

  @media only screen and (max-width: 375px) {
    /* For mobile phones: */
    [class*="grid-container"] {
        width: 80%;
        height: 80%;
      }
.grid-item2 {
    display: flex;
}

.grid-item2 ul{
    display: flex;
    padding: 5px;
    list-style-type: none;
}

.grid-item2 ul a{
    display: flex;
    padding: 25px;
    text-decoration: none;
}
      .grid-item2 ul a{
          margin: 2px auto;
          padding: 8px;
          text-decoration: none;
      }
      .grid-item4 ul a{
          margin: 5px auto;
          padding: 15px;
          font-size: 25px;
      }
  }

  @media only screen and (max-width: 425px) {
    /* For mobile phones: */
    [class*="grid-container"] {
        width: 80%;
        height: 80%;
      }
.grid-item1 h3 {
          display: flex;
          font-size: 12px;
          margin-left: 3px;
          margin-top: 10px;
      }
.grid-item2 {
    display: flex;
}

.grid-item2 ul{
    display: flex;
    list-style-type: none;
}

.grid-item2 ul {
    display: flex;
    flex-direction: row;
}

.grid-item2 ul a{
    display: flex;
    margin: 5px auto 0px 0px;
    padding: 2px;
    font-size: 10px;
    text-decoration: none;
    text-decoration: none;
      }

      .grid-item4 ul a{
          margin: 5px auto;
          padding: 15px;
          font-size: 25px;
      }
      .grid-container .grid-item1 #logo {
        font-size: 2px;
        color: yellow;
}
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="grid-container"] {
      width: 45%;
      height: 65%;
    }
.grid-item2 {
    display: flex;
}

.grid-item2 ul{
    display: flex;
    padding: 5px;
    list-style-type: none;
}

.grid-item2 ul a{
    display: flex;
    padding: 25px;
    text-decoration: none;
}
    .grid-item2 ul a{
        margin: 5px auto;
        padding: 15px;
        text-decoration: none;
    }
    .grid-item4 ul a{
        margin: 5px auto;
        padding: 15px;
        font-size: 25px;
    }
  }