*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: normal 16px Arial, Helvetica, sans-serif;
    color: #333;
}


.grid-container {
    display: flex;
    top: 100px;
    left: 50px;
    height: 60%;
    opacity: 0.9;
    background: #fff;
    position: absolute;
    border-radius: 25px;
    flex-direction: column;
    border: #ccc 2px solid;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.grid-item1 h3 {
    margin: 5px auto;
    font: 1em sans-serif;
}
.grid-item1 {
    display: flex;
    padding: 5px;
}

.grid-item2 {
    display: flex;
}

.grid-item2 ul {
    display: flex;
    list-style-type: none;
}

.grid-item2 ul a{
    display: flex;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.grid-item3 {
    display: flex;
    margin-bottom: 10px;
}
.grid-item3 img {
    margin: 10px auto;
}

.grid-item4 {
    display: flex;
    font-size: 2px;
    margin-bottom: 10px;
}

.grid-item4 ul a{
    padding: 25px;
    font-size: 25px;
}

.grid-item5 {
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
}
.grid-item5 .heart {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 15px; 
    color:skyblue;
}

#particles-js {
    background-color: lightskyblue;
    height: 100%;
}
@media only screen and (max-width: 320px) {
    /* For mobile phones: */
    [class*="grid-container"] {
        width: 60%;
        height: 80%;
      }
.grid-item1 h3 {
          font-size: 70px;
          text-align: center;
      }

.grid-item2 ul{
    padding: 0px;
    margin: 0px;
    font-size: 2px;
    text-align: center;
    list-style-type: none;
}

      .grid-item4 ul a{
          text-align: center;
          justify-content: center;
          font-size: 2px;
          padding: 0px;
          margin: 0px;
      }
      .grid-item5 {
          text-align: center;
          padding: 0px;
      }
  }

  @media only screen and (max-width: 375px) {
    /* For mobile phones: */
    [class*="grid-container"] {
        width: 98%;
        height: 70%;
      }
.grid-item1 h3 {
          font-size: 70px;
          text-align: center;
      }

.grid-item2 ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    text-align: center;
    flex-direction: row;
    list-style-type: none;
}

.grid-item4 ul a{
          font-size: 10px;
      }
  }

  @media only screen and (max-width: 425px) {
    /* For mobile phones: */
    [class*="grid-container"] {
        width: 95%;
        height: 80%;
      }
.grid-item1 h3 {
          font-size: 70px;
          text-align: center;
      }

.grid-item2 ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    text-align: center;
    flex-direction: row;
    list-style-type: none;
}

.grid-item4 ul a{
          font-size: 10px;
      }
      
  }

    @media only screen and (max-width: 464px) {
    /* For mobile phones: */
    [class*="grid-container"] {
        width: 95%;
        height: 80%;
      }
.grid-item1 h3 {
          display: flex;
          font-size: 12px;
          text-align: center;
      }
.grid-item2 {
    display: flex;
    object-fit: contain;
}

.grid-item2 ul{
    display: flex;
    text-align: center;
    flex-direction: row;
    object-fit: contain;
    list-style-type: none;
}

.grid-item2 ul a{
    font-size: 10px;
    text-decoration: none;
    text-decoration: none;
      }

      .grid-item4 ul a{
          margin: 5px auto;
          padding: 15px;
          object-fit: contain;
          font-size: 25px;
      }
      .grid-item1 h3 {
        font-size: 2px;
}
  }


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="grid-container"] {
      width: 50%;
      height: 60%;
    }
.grid-item2 {
    display: flex;
}

.grid-item2 ul{
    display: flex;
    text-align: center;
    padding: 5px;
    list-style-type: none;
}

.grid-item2 ul a{
        display: flex;
        padding: 10px;
        text-align: center;
        text-decoration: none;
    }
    .grid-item4 ul a{
        margin: auto;
        padding: 10px;
        font-size: 25px;
    }
  }